* {
    margin: 0;
    padding: 0;
}

/*   ###   colors   ###   */
$text-color: #d6d6d6;

/*   ###   other variables   ###   */
$base-font-size: 1em;
$text-font-family: 'Helvetica', Arial, sans-serif;

$standard-border-radius: 25px;


/*   ### general page style ###   */
html {
    font-size: $base-font-size;
}

body {
    background-color: #161616;
    color: $text-color;
    font-family: $text-font-family;
}

/*::selection {
	color: #FFF;
	background-color: #55aee2b6;
}*/

#content {
    max-width: 600px;
    margin: 0 auto;
    height: 100px;
    padding: 20px;
}

#weather {
    //TODO
}

#info_grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;
}

#info_grid .grid_item {
    background-color: #000;
    width: 100%;
    aspect-ratio: 1;
    border-radius: $standard-border-radius;
}

#info_grid .grid_item.wide {
    grid-column: span 2;
    aspect-ratio: 2/1;
}

.altitude_graph {
    width: 100%;
    height: calc(100% - 50px);
}

.altitude_graph .altitude_path {
    stroke: #fff;
}

.altitude_graph .horizon_line {
    stroke: #818181;
}


/*   ###   mobile style   ###   */
@media (max-width: 480px) {

    #info_grid {
        gap: 15px;
    }

}